{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ event.subject }}</td>
            </tr>
            <tr>
                <th>Objective</th>
                <td>{{ event.objective }}</td>
            </tr>
            <tr>
                <th>StartDt</th>
                <td>{{ event.startDt ? event.startDt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDt</th>
                <td>{{ event.endDt ? event.endDt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <th>EventAnimatorsDetails</th>
                <td>{{ event.eventAnimatorsDetails }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ event.image }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ event.published ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
