{% extends 'base.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block body %}
    <h1>Invitation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invitation.id }}</td>
            </tr>
            <tr>
                <th>Confirm</th>
                <td>{{ invitation.confirm ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_invitation_index') }}">back to list</a>

    <a href="{{ path('app_invitation_edit', {'id': invitation.id}) }}">edit</a>

    {{ include('invitation/_delete_form.html.twig') }}
{% endblock %}
