{% extends 'base.html.twig' %}

{% block title %}Confirmation de compte{% endblock %}


{% block body %}
	<form action="#" method="POST">
		<input type="text" name="confirm_code" />
		<input type="submit" name="submit" value="Valider"/>
	</form>

{% endblock %}
