{% extends "base.html.twig" %}

{% block  title %} Uvenger - SignUp {% endblock  %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div>
			{{ message }}
		</div>
	{% endfor %}
	<div class="container">
		<h1>SignUp form</h1>

		{{ form(form) }}

	</div>
{% endblock %}
